.main {
    margin: 50px auto;
    width: 800px;
}
.wrap_return_update {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
}
.back {
    font-size: 20px;
    width: 250px;
    height: 60px;
}
.update {
    font-size: 20px;
    width: 250px;
    height: 60px;
    background-color: rgb(236, 173, 55);
    border-color: rgb(236, 173, 55);
    border-radius: 6px;
}

.wrap_name_price_season{
    display: flex;
}

.img {
    width: 400px;
}
.circle_wrap_text {
    margin-left: 20px;
}
.text {
    height: 40px;
    border-radius: 6px;
    border: 1px solid darkgray;
    padding-left: 10px;
    margin-bottom: 40px;
    background-color: white;
    width: 360px;
    line-height: 40px;
    font-size: 15px;
}

.circle_sentence_wrap {
    margin-top: 80px;
}
.circle_sentence{
    border-radius: 6px;
    border: 1px solid darkgray;
    padding-left: 5px;  
    height: 250px;
    background-color: white;
    width: 800px;
    font-size: 15px;
}

.wrap_button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin-top: 30px;
}