html,
body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.header{
    font-size: 20px;
    color:rgb(255, 207, 102);
    font-family:'Alfa Slab One',serif;
    font-style: italic;
    font-weight: bold;
    text-shadow:    
            0px 1px 0px yellow,
            -1px 1px 0px yellow,         
            1px -1px 0px yellow,
            -1px -1px 0px yellow;
    background-color: white;
    margin-top: 0;
    padding: 10px;
}

.aside{
    margin: 0 30px;
}

.search{
    height: 30px;
    border-radius: 20px;
    border-color: darkgray;
}

.submit{
    background-color: rgb(236, 173, 55);
    width: 180px;
    height: 30px;
    margin: 10px 0;
    border-color: rgb(236, 173, 55);
}

.img{
    width: 300px;
}

.wrap_img{
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 20px;
}

.wrap_aside_card{
    display: flex;
}

