html,
body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.header{
    font-size: 20px;
    color:rgb(255, 207, 102);
    font-family:'Alfa Slab One',serif;
    font-style: italic;
    font-weight: bold;
    text-shadow:    
            0px 1px 0px yellow,
            -1px 1px 0px yellow,         
            1px -1px 0px yellow,
            -1px -1px 0px yellow;
    background-color: white;
    margin-top: 0;
    padding: 10px;
}

.aside{
    margin: 0 30px;
}

.search{
    height: 30px;
    border-radius: 20px;
    border-color: darkgray;
}

.submit{
    background-color: rgb(236, 173, 55);
    width: 180px;
    height: 30px;
    margin: 10px 0;
    border-color: rgb(236, 173, 55);
}

.img{
    width: 300px;
}

.wrap_img{
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 20px;
}

.wrap_aside_card{
    display: flex;
}

.page{
    display: flex;
    justify-content: center;
}
.page .ui.pagination.menu .active.item {
    background-color: #ff9f43;
    color: #ffffff;
    pointer-events: none;
}
.open {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 4px;
}

.overlay {
    display: none;
    position: fixed;
    top: 250px;
    left: 30px;
    width: 180px;
    height: 180px;
}

.overlay.is-open {
    display: flex;
}

.content {
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.sort-option {
    display: block;
    margin: 15px 0;
    cursor: pointer;
}

.sort-option input {
    display: none;
}

.sort-option span {
    display: block;
    padding: 10px;
    border: 1px solid rgb(255, 184, 53);
    border-radius: 40px;
    font-weight: bold;
    color: #555;
    transition: all 0.2s;
}

.sort-option input:checked+span {
    background-color: rgb(236, 173, 55);
    border-color: rgb(236, 173, 55);
    color: white;
}

.cancel {
    margin: auto;
    padding: auto;
    background: none;
    border: none;
    color: rgb(255, 184, 53);
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgb(255, 184, 53);
    width: 20px;
    height: 20px;
    margin-right: 12px;
}
.cancel_modal{
    display: flex;
}
.span{
    font-size: 12px;
}