.main {
    margin: 20px auto;
    width: 600px;
}

.wrap_return_update {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 10 auto;
}

.update {
    font-size: 20px;
    width: 250px;
    height: 60px;
    background-color: rgb(236, 173, 55);
    border-color: rgb(236, 173, 55);
    border-radius: 6px;
}

.back {
    font-size: 20px;
    width: 250px;
    height: 60px;
}


.textarea{
    height: 120px;
    width: 800px;
    margin-top: 10px;
    font-size: 15px;
}

.text{
    height: 30px;
    width: 600px;
    margin-bottom: 40px;
    margin-top: 10px;
    font-size: 15px;
}

.required{
    background-color: red;
    color:white;
    font-size: 15px;
}

